<html>
	<head>
		<title>About Cantrust staffing services</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../../assets/css/styles.css" rel="stylesheet" title="CSS Styles"/>
        <link href="../../assets/css/reset.css" rel="stylesheet" title="CSS Styles"/>
	</head>
	<body>
		<div class="page-container">
            <div class="content-container">
                <div class="logo">
                    <img width="100px" height="50px"/>
                </div>
                <div class="burger-bun">
                    <div class="hamburger" ></div>
                    <div class="hamburger"> </div>
                    <div class="hamburger"></div>
                </div>
                <div class="nav">
                    <nav>
                    <div class="search">
                        <form>
                            <input type="text" placeholder="Search">
                            <button type="submit">S</button>
                        </form>
                    </div>
                    <ul class="nav-ul" >
                        <li>About</li>
                        <li>Testimonials</li>
                        <li>Our Services</li>
                        <li>FAQ</li>
                    </ul>
                    </nav>
                </div>
            
            <div class="slide">
                <p>main</p>
            </div>
            <div class="slide">
                <p>2nd</p>
            </div>
           <div class="slide">
                <p>3rd</p>
            </div>
           <div class="slide">
                <p>4th</p>
            </div>
           <footer>
                <p> footer</p>
            </footer>
            </div>
        </div>
	</body>
</html>